doctype html
html
  block vars
  head
    title #{title}
    meta(name="description", content="Next-level free resources for Bootstrap framework")
    block stylesheets
      link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:400,500')
      link(rel='stylesheet', type='text/css', href=locals.cdns.bootstrap_4.css)
      link(rel='stylesheet', type='text/css', href=locals.cdns.iconmonstr)
      link(rel='stylesheet', type='text/css', href=`${locals.baseUrl}/assets/style.css`)
      link(rel="apple-touch-icon" sizes="180x180" href=`${locals.baseUrl}/assets/apple-touch-icon.png`)
      link(rel="icon" type="image/png" sizes="32x32" href=`${locals.baseUrl}/assets/favicon-32x32.png`)
      link(rel="icon" type="image/png" sizes="16x16" href=`${locals.baseUrl}/assets/favicon-16x16.png`)
      link(rel="manifest" href=`${locals.baseUrl}/assetssite.webmanifest`)
      link(rel="mask-icon" href=`${locals.baseUrl}/assetssafari-pinned-tab.svg` color="#343a40")
      meta(name="msapplication-TileColor" content="#343a40")
      meta(name="theme-color" content="#ffffff")
    block scripts
      script(src=locals.cdns.jquery)
      script(src=locals.cdns.enquire)
      script(src=locals.cdns.savvior)
      script(src=`${locals.baseUrl}/assets/script.js`)
    block inlineStyle
  body(class=bodyClass)
    .bpp-site
      .bpp-content
        block content
      include _footer
    block scriptsFooter
      <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="92b235e5-c607-4c68-848c-509d50e5b053";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    include _tracking.pug
