extend _layout.pug

block prepend vars
  - var title = `Bootstrap ${locals._.startCase(tag)} Templates - ${locals.title}`

block content

  include ../includes/_header

  section.bpp-items.clearfix
    .container.pb-3
      h2.h3
        a(class="bpp-back" href=`${locals.baseUrl}/`) &larr; 
        | \ 
        a(class="bpp-back" href=`${locals.baseUrl}/tags/`) Tags 
        | \ #{locals._.startCase(tag)} Templates
    include ../includes/_items.pug
