extend ../includes/_layout.pug

block vars
  - var title = `Tags ${locals.separator} ${locals.title}`

block content

  include ../includes/_header

  section.bpp-items.clearfix
    .container.pb-3
      h2.h3
        a(class="bpp-back" href=`${locals.baseUrl}/`) &larr; 
        | \ Tags
    .container
      .row.no-gutters
        each counts, tag in locals.tags
          .col-sm-3
            a(href=`${locals.baseUrl}/tags/${tag}/` class="bpp-tag")= tag
              .badge.badge-dark.float-right= counts
