extend ../../includes/_layout-item.pug

block prepend vars
  - var id = 14

block append content
  section(class=`bpp-${id}`)
    .container
      .bpp-content
        h2.bpp-title The integration center for all apps
        p.bpp-desc Appropriately scale user friendly bandwidth and synergistic meta-services. Phosfluorescently whiteboard intuitive potentialities before long-term high-impact functionalities.
        button.btn.btn-success Click to integrate
      .bpp-shape-list
        img.bpp-shape(src=`${locals.cdns.svgPorn}/google-icon.svg`, alt=`Bootstrap template ${locals.separator} Google ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/gitter.svg`, alt=`Bootstrap template ${locals.separator} Gitter ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/graphcool.svg`, alt=`Bootstrap template ${locals.separator} Graphcool ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/graphql.svg`, alt=`Bootstrap template ${locals.separator} Graphql ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/grove.svg`, alt=`Bootstrap template ${locals.separator} Grove ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/grunt.svg`, alt=`Bootstrap template ${locals.separator} Grunt ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/harrow.svg`, alt=`Bootstrap template ${locals.separator} Harrow ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/heap.svg`, alt=`Bootstrap template ${locals.separator} Heap ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/heroku-redis.svg`, alt=`Bootstrap template ${locals.separator} Heroku Redis ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/heron.svg`, alt=`Bootstrap template ${locals.separator} Heron ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/hexo.svg`, alt=`Bootstrap template ${locals.separator} Hexo ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/hashnode.svg`, alt=`Bootstrap template ${locals.separator} Hashnode ${locals.separator} ${locals.title}`)
        img.bpp-shape(src=`${locals.cdns.svgPorn}/jelastic.svg`, alt=`Bootstrap template ${locals.separator} Jelastic ${locals.separator} ${locals.title}`)
