extend ../_layout.pug
block vars
  - var id = 1
  - var slug = 'feature'
  - var title = `Features ${id}`
  - var bodyClass = 'bg-danger mt-5 mb-5'
block append stylesheets
  link(rel='stylesheet', type='text/css', href=cdn.bootstrap_4.css)
  link(rel='stylesheet' type='text/css' href='./style.css')
block append scripts
  script(src=cdn.jquery)
  script(src=cdn.vivus)
  script(src='./script.js')
block content
  section(class=`bpp-${slug}-${id}`)
    .container.text-center
      h2.bpp-block-title Features
      .row
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/wall-clock.svg
            h3.bpp-title 24/7 Coverage
            p.bpp-desc Phosfluorescently reconceptualize cross-unit e-services for long-term high-impact deliverables. Holisticly engage B2B.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/globe.svg
            h3.bpp-title 12+ Locations
            p.bpp-desc Dynamically revolutionize turnkey relationships for focused models. Dramatically conceptualize frictionless human capital after.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/accept.svg
            h3.bpp-title 100% Accuracy
            p.bpp-desc Compellingly network high standards in growth strategies vis-a-vis functionalized "outside the box" thinking.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/alert.svg
            h3.bpp-title Smart Alerts
            p.bpp-desc Monotonectally visualize user friendly infomediaries via go forward communities. Globally foster interoperable initiatives whereas.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/chart.svg
            h3.bpp-title Detailed Reports
            p.bpp-desc Appropriately actualize high standards in web services and equity invested manufactured products.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/source-code.svg
            h3.bpp-title REST API
            p.bpp-desc Monotonectally synthesize corporate services whereas revolutionary methodologies. Professionally evisculate cross-platform.
