extend ../_layout.pug
block vars
  - var id = 1
  - var slug = 'footer'
  - var title = `Footer ${id}`
  - var bodyClass = 'bg-dark mt-5 mb-5'
block append stylesheets
  link(rel='stylesheet', type='text/css', href=cdn.bootstrap_411.css)
  link(rel='stylesheet', type='text/css', href='style.css')
block append scripts
  script(async='', defer='', src=cdn.github.buttons)
  script(async='', defer='', src=cdn.twitter, charset='utf-8')
block content
  section(class=`bpp-${slug}-${id}`)
    .container
      .row
        .col-sm-6.col-md-4
          h5.bpp-title Latest Changes
          ul.list-unstyled
            li
              a(href='#') App v1.0 - Express Compatibility
            li
              a(href='#') App v0.9 - Maintenance
            li
              a(href='#') App v0.8 - New Features
            li
              a(href='#') App v0.7 - Admin UI Added
            li
              a(href='#') App v0.6 - Security Bugs
            li
              a(href='#') App v0.5 - Add Authentication Module
        .col-sm-6.col-md-4
          h5.bpp-title Everything App
          ul.list-unstyled
            li
              a(href='#') Documentation
            li
              a(href='#') Quick Start
            li
              a(href='#') Recipes
            li
              a(href='#') Community
            li
              a(href='#') Press
            li
              a(href='#') Blog
        .col-sm-12.col-md-4
          h5.bpp-title The App Newsletter
          form
            .form-group
              input(type='email' class='form-control' aria-describedby='emailHelp' placeholder='Enter email')
              small(id='emailHelp' class='form-text text-muted') We'll never share your email with anyone else.
            button(type='submit' class='btn btn-primary btn-block') Subscribe
            br
            ul.list-inline
              li.list-inline-item
                a(class='github-button' href=`https://github.com/${socialAccount.github}`, data-size='large' data-show-count='true' aria-label=`Star ${socialAccount.github} on GitHub`) Star
              li.list-inline-item
                a(href=`https://twitter.com/${socialAccount.twitter}?ref_src=twsrc%5Etfw` class='twitter-follow-button' data-show-count='false' data-size='large') Follow @#{socialAccount.common}
