extend includes/_layout.pug

block vars
  - var title = `${locals.title} ${locals.separator} ${locals.desc}`

block content

  include includes/_header

  section.bpp-items.clearfix
    .container
      div.bpp-section-info
        h3.bpp-title Templates
        p.bpp-desc Standalone block and page templates
    include includes/_items.pug

  section.clearfix
    .container
      div.bpp-section-info
        h3.bpp-title Tags
        p.bpp-desc Explore templates by tags
    .container
      .row.no-gutters
        each counts, tag in locals.tags
          .col-sm-3
            a(href=`${locals.baseUrl}/tags/${tag}/` class="bpp-tag")= tag
              .badge.badge-dark.float-right= counts
