extend includes/_layout.pug

block vars
  - var title = `${locals.title} ${locals.separator} ${locals.desc}`

block content
  header.bpp-hero
    .container
      h1.bpp-title
        small Next-level 
          span.text-danger free 
          | resources for Bootstrap
        | #{locals.title}

  section.bpp-items.clearfix
    .container
      .d-flex.justify-content-between.align-items-center
        div
          h2.bpp-items-title Templates
          p.bpp-items-desc Standalone block and page templates
        a(href=`${locals.baseUrl}/tags/`) Tags &rarr;
    include includes/_items.pug
